*{
    margin: 0px;
}

.modelBox{
    height: 300px;
    width: 300px;
    padding: 10px;
    margin: 10px;

    background-color: black;
}

.modelBoxHighlight{
    height: 600px;
    width: 600px;
    padding: 30px;
}

.label{
    padding: 10px;
    background-color: antiquewhite;
    text-align: center;
}

.gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}


model-viewer{
    height: inherit;
    width: inherit;
}

li{
    list-style-type: none;
}

nav{
    background-color: antiquewhite;
    padding: 10px;

}